# Test Report

### [By Kervinn Aguilera](https://www.linkedin.com/in/kervinn/)
Test Automation Engineer

**Execution Date:** May 13, 2024  
**Browser:** Google Chrome  
**OS:** MacOS  
**Test Tool:** Cypress v13.9  
**Scope:** E2E User Flow  

---

## Observations

In order to click "Proceed to Checkout", it is necessary to first click on "View the Cart". This step is not included in the flow proposed by the Product Team. It is recommended to discuss with the Product Team whether this behavior is expected.

## Areas for Improvement

- It is recommended to add validation for password format.
- It is recommended to add validation for email format.
- 
## Check Test Result on Cypress Dashboard: 
- [Run Status](https://cloud.cypress.io/projects/ejfyd6/analytics/runs-over-time)
- [Run Duration](https://cloud.cypress.io/projects/ejfyd6/analytics/run-duration)
---

**This document is forwarded to the Test Lead for analysis with the Product Team and Project Manager.**

---

**Attached Documents:**

- [Test Plan](https://github.com/Soykervinn/automation-exercise-apply/blob/main/test-plan.md)
- [Test Strategy](https://github.com/Soykervinn/automation-exercise-apply/blob/main/test-strategy.md)